/* Light */
@theme static {
  /* Primary Colors */
  --color-primary: #855EE1;
  --color-primary-primary:#6C43C6;
  --color-primary-hover: #855EE11F;
  --color-primary-pressed: #855EE12D;
  --color-state-primary-primary-hover: rgba(133, 94, 225, 0.12);
  --color-state-primary-primary-container-pressed: rgba(208, 188, 255, 0.18);
  --color-primary-on-primary-container:#23005B;
  --color-window-bg:#dbd6f850;

  --color-on-primary: #FFFFFF;
  --color-on-primary-hover: #0000001F;
  --color-on-primary-pressed: #0000002D;

  --color-primary-container: #E9DDFF;
  --color-primary-container-hover: #D0BCFF1F;
  --color-primary-container-pressed: #D0BCFF2D;

  --color-on-primary-container: #23005B;
  --color-on-primary-container-hover: #0000001F;
  --color-on-primary-container-pressed: #0000002D;

  --color-arcylic: --alpha(var(--color-surface-container-highest) / 80%);

/* AI Accent Colors */
  --color-ai-accent-hover: #855EE11F;
  --color-ai-accent-pressed: #855EE12D;
  --colors-accents-ai-accent:#855EE1;
  --color-on-ai-accent-hover: #FFFFFF1F;

  --color-ai-accent-container-hover: #D0BCFF1F;

  /* Focus Colors */
  --color-focus: #0E131E;
  --color-focus-hover: #0000001F;
  --color-focus-pressed: #0000002D;

  --color-on-focus: #FBF9F7;
  --color-on-focus-hover: #FFFFFF1F;
  --color-on-focus-pressed: #FFFFFF2D;
  --color-focus-on-focus:#FFFFFF;

  --color-focus-container: #E7E2DD;
  --color-on-focus-container: #161C27;
  --color-on-focus-container-hover: #0000001F;
  --color-on-focus-container-pressed: #0000002D;
  --color-focus-focus-container: #E7E2DD;

  --color-focus-focus: #0E131E;
  --color-state-focus-focus-hover: rgba(0, 0, 0, 0.08);

  --color-inverse-focus: #FFFFFF;
  --color-inverse-on-focus: #161C27;

  /* Error Colors */
  --color-error: #DE3730;
  --color-error-hover: #DE37301F;
  --color-error-pressed: #DE37302D;
  --color-semantic-error-error:#BA1A1A;
  --color-state-error-error-pressed:rgba(222, 55, 48, 0.18);
  --color-state-error-error-hover:rgba(222, 55, 48, 0.12);
  --color-state-focus-focus-pressed:rgba(0, 0, 0, 0.12);
  --color-state-focus-on-focus-pressed:rgba(255, 255, 255, 0.12);
  --color-on-error: #FFFFFF;

  --color-error-container: #FFDAD6;
  --color-error-container-hover: #FFB4AB1F;
  --color-error-container-pressed: #FFB4AB2D;

  --color-on-error-container: #410002;
  --color-on-error-container-hover: #0000001F;
  --color-on-error-container-pressed: #0000002D;

  /* Warning Colors */
  --color-warning: #9C6E03;
  --color-on-warning: #FFFFFF;
  --color-warning-container: #FFDEAA;
  --color-on-warning-container: #271900;

  /* Success Colors */
  --color-success: #3E8643;
  --color-on-success: #FFFFFF;
  --color-success-container: #A8F5A6;
  --color-on-success-container: #002105;

  /* Secondary Colors */
  --color-secondary: #3571EA;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #DAE2FF;
  --color-secondary-container-pressed: #B1C5FF28;
  --color-on-secondary-container: #001846;


  /* Tertiary Colors */
  --color-tertiary: #FB575F;
  --color-on-tertiary: #FFFFFF;
  --color-tertiary-container: #FFDAD8;
  --color-on-tertiary-container: #410008;

  /* Text Colors */
  --color-text-on-surface: #161C27;
  --color-text-on-surface-variant: #5F5E60;
  --color-text-on-surface-muted: #92908F;
  --color-text-on-surface-disabled: #00000061;
  --color-text-inverse-on-surface: #FBF9F7;
   /* TODO : 是否要放到库里？待确认 */
  --color-text-accents-primary: #0E77DA;

  /* Surface Colors */
  --color-surface: #FFFFFF;
  --color-surface-blur-high: #FFFFFFCC;
  --color-surface-blur: #FFFFFF99;
  --color-surface-blur-low: #FFFFFF4D;
  --color-surface-container: #F5F3F1;
  --color-surface-container-highest: #E7E2DD;
  --color-surface-disabled: #0000001F;
  --color-surface-hover: #00000014;
  --color-inverse-surface: #0E131E;

  /* Overlay Colors */
  --color-overlay-scrim: #00000061;
  --color-overlay-scrim-heavy: #00000099;
  --color-overlay-background-blur-scrim: #00000040;
  --color-overlay-inverse-overlay: #00000080;
  --color-overlay-outline: #787777;
  --color-overlay-outline-hover: #00000014;
  --color-overlay-outline-variant: #DED9D4;
  --color-overlay-outline-inverse: #FFFFFF;
  --color-outlines-outline-variant: #DED9D4;
  --color-outlines-outline: #787777;

  /* Validation Colors */
  --color-validation-background: #FBF9F7;
  --color-validation-surface-variant: #F3F0EE;
  --color-validation-surface-container-high: #F1EEEB;

  /* AI Step Colors */
  --color-ai-step-1: #5C8DFF;
  --color-ai-step-2: #7787FF;
  --color-ai-step-3: #8D81FD;
  --color-ai-step-4: #A079FF;
  --color-ai-step-5: #B373F5;
  --color-ai-step-6: #C36EE7;
  --color-ai-step-7: #D06AD6;
  --color-ai-step-8: #DC67C3;
  --color-ai-step-9: #D06AD6;
  --color-ai-step-10: #C36EE7;
  --color-ai-step-11: #B373F5;
  --color-ai-step-12: #A079FF;
  --color-ai-step-13: #8D81FD;
  --color-ai-step-14: #7787FF;
  --color-ai-step-15: #5C8DFF;
  --color-ai-step-on: #FFFFFF;

  /* AI Chrome Gradient Colors */
  --color-ai-chrome-gradient-step-0: #5C8DFF;
  --color-ai-chrome-gradient-step-13: #A079FF;
  --color-ai-chrome-gradient-step-25: #D06AD6;
  --color-ai-chrome-gradient-step-38: #EB6296;
  --color-ai-chrome-gradient-step-51: #FF7257;
  --color-ai-chrome-gradient-step-63: #EB6296;
  --color-ai-chrome-gradient-step-75: #D06AD6;
  --color-ai-chrome-gradient-step-87: #A079FF;
  --color-ai-chrome-gradient-step-100: #5C8DFF;

  /* Processing Gradient Colors */
  --color-processing-gradient-stop-0: #5C8DFF;
  --color-processing-gradient-stop-100: #855EE1;

  /* Expedia Gradient Colors */
  --color-expedia-gradient-stop-0: #FBDB32;
  --color-expedia-gradient-stop-100: #FF9447;
  /* Border-color */
  --color-line-window: rgba(0, 0, 0, 0.08);
  /* Catch Me Up color */
  --color--summarize-title-color: #5F5E60;

  --touch-touch-target: rgba(255, 255, 255, 0.00);
  --color-surfaces-surface-blur-high:rgba(255, 255, 255, 0.80);
  --color-surfaces-surface-blur:rgba(255, 255, 255, 0.70);
  --color-surfaces-surface-blur-low:rgba(255, 255, 255, 0.30);
  /* Disabled Opacity */
  --opacity-disabled: 0.38;

  --color-surfaces-surface: #FFFFFF;
  --color-surfaces-surface-blur: #FFFFFFB2;
  --color-surfaces-surface-bright: #FFFFFF;
  --effects-elevation-drop-shadow-heavy:rgba(0, 0, 0, 0.30);
  --effects-elevation-drop-shadow-light:rgba(0, 0, 0, 0.12);
  --surfaces-prompt-bar-stroke:rgba(255, 255, 255, 0);

  --gradients-processing-stop-0: #457EF8;
  --gradients-processing-stop-100: #7950D3;
  --color-blur-scrim-dynamic-surface-container:rgba(251, 249, 247, 0.3);

}
