@import "@libs/theme";
@source "../../../../packages/**/*.{vue,js,ts,jsx,tsx}";

.acrylic-view:not(.acrylic-view-none) {
  background-color: --alpha(var(--color-surface-container-highest) / 80%);
}

/* .mock-acrylic-view {
  background-color: rgba(229, 229, 229, 0.522);
} */


.acrylic-view {
  position: relative;
  background-image: linear-gradient(182deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
}
.acrylic-view::before{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(86.04deg, rgba(255, 255, 255, 0) 2.78%, rgba(255, 255, 255, 0.7) 8.8%, rgba(255, 255, 255, 0.7) 91.21%, rgba(255, 255, 255, 0) 95.9%);
  mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box exclude, linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
}


.acrylic-view .acrylic-view{
  background-image: none;
  background-color: transparent;
}
.acrylic-view .acrylic-view::before{
  display: none;
}


/* :root{
  background-color: brown;
} */
