@import './var.css';
@import './highContrast.css';
@import './carousel.css';

.font-SF {
  font-family: 'SF Pro';
}
.font-SF-text {
  font-family: 'SF Pro Text';
}

.text-17 {
  font-size: 17px;
  line-height: 22px; /* 129.412% */
  letter-spacing: -0.068px;
}

.text-13 {
  font-size: 13px;
  line-height: 18px; /* 138.462% */
  letter-spacing: -0.013px;
  font-weight: 400;

  &.font-medium {
    font-weight: 500;
  }
}

.text-12 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.1px;
}

.text-14 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.18px;
}

button.card-btn {
  width: 160px;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'SF Pro';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.3px;

  &.qbtn_neutral_neutral {
    color: var(--color-focus-on-focus);
  }

  &.qbtn_neutral_text {
    padding: 0;
    margin-top: 16px;
    color: var(--color-focus-focus);
  }

  &.w-full {
    width: 100%;
  }
}

.font-thin {
  font-weight: 400;
}
.font-mediumer {
  font-weight: 510;
}


blockquote, p, ul {
  margin: 0;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}
